<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="CSBuildConfig" type="CSharpTest.Net.CSBuild.Config, CSBuild" />
    </configSections>

  <CSBuildConfig xsi:noNamespaceSchemaLocation="tools\CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <options>
      <console level="Quiet"/>
      <logfile path="..\CSBuild.log" relative-to="csbuild.exe" enabled="false" />
      <continue-on-error enabled="false"/>
      <save-project-changes enabled="false"/>
    </options>
	
    <target tools="v3.5" group="default" configuration="Debug" platform="AnyCPU">
      <framework version="v2.0" />
      <add path="..\src\*.csproj" relative-to="csbuild.exe"/>
      <log relative-to="csbuild.exe" path="..\msbuild.log" level="Detailed"/>
    </target>
	
  </CSBuildConfig>
</configuration>